{% extends 'base.html.twig' %}

{% block title %}Edit Post{% endblock %}

{% block body %}
    {{form(form)}}

        <p>
            {{ include('post/_delete_form.html.twig') }}
        </p>

{% endblock %}
