{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
  <div class="row justify-content-md-center text-center">
    <div class="col col-lg-6">
    {{ form(register) }}
    </div>
  </div>
</div>
{% endblock %}
